<div class="container appContainer">
	<div class= "HeaderTitle">
		<h1> PharmEasy </h1>
	</div>	
	<div class="formContainer">
	<form class="form-horizontal" (submit) = "submitForm()">
  		<div class="form-group">
   		 <label  class="control-label col-sm-6"  for="name">Name:</label>
   		 <div class="col-sm-6">
   		 <input type="text" required class="form-control" name ="name" [(ngModel)] = "name" id="name">
   		</div>
  		</div>
  		<div class="form-group">
   		 <label  class="control-label col-sm-6"  for="Manufacturer">Manufacturer:</label>
   		 <div class="col-sm-6">
   		 <input type="text" class="form-control" required name ="manufacturer" [(ngModel)] = "manufacturer"  id="manufacturer">
   		</div>
  		</div>
  		<div class="form-group">
   		 <label class="control-label col-sm-6"  for="Batch">Batch No.:</label>
   		 <div class="col-sm-6">
   		 <input type="number" class="form-control" required name ="batch" [(ngModel)] = "batch"  id="batch">
   		</div>
  		</div>
  		<div class="form-group">
   		 <label class="control-label col-sm-6"  for="Price">Expiration Date:</label>
   		 <div class="col-sm-6">
   		 <input type="date" class="form-control"  required name ="date" [(ngModel)] = "date"  id="price">
   		</div>
  		</div>
       	<div class="form-group">
   		 <label class="control-label col-sm-6"  for="Price">Price:</label>
   		 <div class="col-sm-6">
   		 <input type="number" class="form-control" required name ="price" [(ngModel)] = "price"  id="price">
   		</div>
  		</div>
  		<div class="form-group">
   		 <label class="control-label col-sm-6"  for="Type">Type:</label>
   		 <div class="col-sm-6">
   		 	<select class="form-control" required name ="type" [(ngModel)] = "type"  id="type">
   		 		<option value="Capsule">Capsule</option>
   		 		<option value="Tablet">Tablet</option>
   		 		<option value="Syrup">Syrup</option>
   		 		<option value="Gel">Gel</option>
   		 	</select>

  		</div>
  		</div>
 		<div class="col-sm-offset-6 col-sm-6">
      	
      	<input type="submit" name="submit" class="btn btn-default" value = "Submit">
    	</div>	
</form>
</div>
<div class="tableContainer">
		<div class= "tableTitle">
		<h1> PharmEasy Data Table</h1>
	</div>	
  <table class="table table-bordered">
    <thead>
      <tr>
      	<th>Id</th>
        <th>Name</th>
        <th>Manufacturer</th>
        <th>Batch No.</th>
        <th> Price </th>
        <th>Expiration Date</th>
        <th>Type</th>
        <th>update</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let post of posts; let i = index">
        <td>{{i+1}}</td>
		<td><input type="text" class="form-control " [value] = "post.name" *ngIf = "post.toUpdate" name ="name" [(ngModel)] = "dataName[i]" id="name">
		<span *ngIf = "!post.toUpdate" >{{post.name}}</span></td>
        <td><input type="text"  class="form-control " [value] = "post.manufacturer" *ngIf = "post.toUpdate" name ="manufacturer" [(ngModel)] = "dataMf[i]"  id="manufacturer">
        <span *ngIf = "!post.toUpdate" >{{post.manufacturer}}</span></td>
        <td><input type="number" class="form-control " [value] = "post.batch" *ngIf = "post.toUpdate" name ="batch" [(ngModel)] = "dataBatch[i]"  id="batch">
        <span *ngIf = "!post.toUpdate" >{{post.batch}}</span></td>
        <td><input type="number" class="form-control " [value] = "post.price" *ngIf = "post.toUpdate" name ="price" [(ngModel)] = "dataPrice[i]"  id="price">
        <span *ngIf = "!post.toUpdate" >{{post.price}}</span></td>
        <td><input type="date" class="form-control "  *ngIf = "post.toUpdate" name ="date" [(ngModel)] = "dataDate[i]"  id="date">
        <span *ngIf = "!post.toUpdate" >{{post.date}}</span></td>        
        <td>
        	 <select class="form-control" style ="width: 100px" *ngIf = "post.toUpdate" name ="type" [(ngModel)] = "dataType[i]"  id="type">
   		 		<option value="Capsule">Capsule</option>
   		 		<option value="Tablet">Tablet</option>
   		 		<option value="Syrup">Syrup</option>
   		 		<option value="Gel">Gel</option>
   		 	</select><span *ngIf = "!post.toUpdate" >{{post.type}}</span></td>
        <td><button type="submit" class="btn btn-default" (click) = "updateForm(post,i)">Update/Save</button>
		</td>        
        <td><button type="submit" class="btn btn-default" (click) = "deleteForm(i)">Delete</button>
		</td>
      </tr>
      </tbody>
  </table>
</div>
 </div> 
